@import "tailwindcss";

@theme {
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
  
  --color-brand-primary: #523c21;    /* Deep Earthy Brown */
  --color-brand-secondary: #d4af37;  /* Vibrant Metallic Gold for high contrast on dark */
  --color-brand-bg: #faf9f6;        /* Off-white/Cream */
  --color-brand-ink: #1a1a1a;       /* Rich Black */
  --color-brand-accent: #d4c2a3;    /* Warm Clay */
}
